* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    
}

.container {
    display: flex;
    height: 100vh;
    padding-right: 50vw;
    overflow-y: auto;
    z-index: 1;
}

.imgs-lateral {
    background-color: #2135A6;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh; 
}

.img-lateral {
    width: 60%;
    padding-top: 20%;
    padding-left: 21%;
}

.logo {
    width: 30%;
    margin-top: 8%;
    padding-left: 37%;
}

.form-box {
    flex: 1;
    min-height: 100vh;
    background-color: #FFFFFF;
    padding: 64px;
    box-sizing: border-box;
}

.btn-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-bottom: 24px;
    gap: 8px;
    color: #57534E;
    line-height: 150%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    

    & > h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
        color: #292524;
    }

    & > p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        color: #57534E;
 
    }
}

.info-participante {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    & > h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 125%;
        color: #292524;
    }

    & label {
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 140%;
        color: #57534E;
        padding-bottom: 4px;
    }

    & input {
        width: 100%;
        max-width: 100%;
        align-items: center;
        border: solid 1px #D6D3D1;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        padding: 12px 16px;
        box-sizing: border-box;
        
    }

    & select {
        width: 100%;
        max-width: 100%;
        align-items: center;
        border: solid 1px #D6D3D1;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        padding: 12px 16px;
        appearance: none;
        background-image: url(../assets/arrow-down-01.svg);
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 24px;
        box-sizing: border-box;
    }

    & .conteudo-docs-identidade {
        max-width: 100%;
        height: 100px;
        border: dashed 2px #D6D3D1;
        background-image: url(../assets/cloud-upload.svg);
        background-repeat: no-repeat;
        background-position: center 24px;
        background-size: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        padding: 24px 16px;
        
    }

    & .button-docs-identidade-label {
        width: 35%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        color: #A8A29E;
        text-align: center;
        padding-top: 8px;
    }
}

.endereco-residencial {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    & h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 125%;
        color: #292524;
    }

    & label{
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 140%;
        color: #57534E;
        padding-bottom: 4px;
    }

    & .cep input {
        width: 100%;
        max-width: 100%;
        align-items: center;
        border: solid 1px #D6D3D1;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        padding: 12px 16px;
        box-sizing: border-box;
    }

    & .info-endereco-residencial {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    & .info-endereco-residencial div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    & .info-endereco-residencial div:first-child, .info-endereco-residencial div:nth-child(3) {
        width: 61%;
    }

    & .info-endereco-residencial div:nth-child(2), .info-endereco-residencial div:nth-child(4) {
        width: 35%;
    }

    & .info-endereco-residencial input {
        border: solid 1px #D6D3D1;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        padding: 12px 16px;
        box-sizing: border-box;
        width: 100%;
    }

    & .conteudo-comprovante-residencia {
        max-width: 100%;
        height: 100px;
        border: dashed 2px #D6D3D1;
        background-image: url(../assets/cloud-upload.svg);
        background-repeat: no-repeat;
        background-position: center 24px;
        background-size: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        padding: 24px 16px;  
    }

    & .button-docs-comprovante-residencia-label {
        width: 35%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 150%;
        color: #A8A29E;
        text-align: center;
        padding-top: 8px;
        
    }

}

.trilhas-aprendizagem {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    & h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 125%;
        color: #292524;
    }

    & > p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 140%;
        color: #57534E;
 
    }
}

